/* Two columns for printing. */
article {
	break-before: page;
	column-count: 2;
	/* column-width: 3in; */
	column-rule: 1px solid currentColor;
	column-fill: balance;
	column-gap: 3em;
	overflow: hidden;
}
header {
	column-span: all;
}

/* Hide headers/footers that are not within an article */
:not(article) > :is(header, footer) {
	display: none;
}

/* Adjust type settings for printing */
html {
	tab-size: 2ch; /* Try to squash code samples in print. */
	orphans: 2;
	widows: 2;
}
h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	break-inside: avoid;
	break-after: avoid;
}

/* Removing body padding because the print dialog will add page margins. */
body {
	padding: 0;
	max-width: unset;
}

/* Remove color from links - they can't be clicked on paper - and show the href. */
a {
	/* color: currentColor !important; */
	text-decoration: unset;
}
[itemprop="articleBody"] a[href]:not(:has(>img)):not([href^="#"])::after {
	content: " [" attr(href) "]";
	word-break: break-all;
}

/* Remove all colors */
* {
	background-color: unset !important;
	color: unset !important;
}
